[init]
	defaultBranch = main
[user]
	email = ryanehenderson@protonmail.com
	name = Ryan Henderson
	signingkey = 12D5AEE8C46CDDC26888602F82F2F921FA1C7F0A
[core]
	editor = code --wait
[diff]
	colormoved = plain
	colormovedws = allow-indentation-change
[commit]
	gpgsign = true
[tag]
	gpgSign = true
